<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.5" package="com.kingapps.jux" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="20" android:targetSdkVersion="28" />
	<application android:label="Jux" android:icon="@drawable/Logo" android:supportsRtl="true">
    <activity android:name="MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.SEND" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="text/plain" />
      </intent-filter>      
    </activity>    
  </application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />  
</manifest>